<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoqosDeviceMonitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FoqosWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LiveSessionTrackerExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>foqos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>foqosblockedtracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>801713092DE6C78C00B77FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801B20942CB363A10073E9E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801B20A52CB363A20073E9E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801B20AF2CB363A20073E9E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80FF388C2D80DB540032BC5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
